
body {
    background: #778899;
}


.conntent h1{font-size: 30px;}
.conntent h2{margin-left: -88px; text-align: center;}

.conntent {
    text-indent: 20px; /* Отступ первой строки в пикселах */
    color: #E6E6FA;
    margin: 0px 20px;
    font-size: 15px;
    width: 100%;
}


.img{
    width: 45px;
    border-radius: 100px;
    border: 2px solid white;
    box-shadow: 0 0 30px #6ef;
}




div a:hover, div img{
    color: red;
    text-decoration: none;
    transform: scale(1.05);
    transition: transform .3s ease;
}

.catalog{
    margin: 10px
}

.menu{
    float: left;
    width: 230px;
    height: 200px;
    margin: 20px;
    padding: 0px;

}

.menu img{
    width: 230px;
    height: 200px;
}



/*.containers{
    float: left;
    width: 500px;
    color: #ffc107;
    background-color: #2F4F4F;
    border-color: #fff;
    border-radius: 1.25rem;
    border: 8px double black;
    height: 247px;
    margin-top: 10px;
}*/

.foto {
    width: 93%;
    margin: 50px 0px 50px 40px;
    left: 0;
    top: 0;

}

.footer {
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #8A2BE2; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1150px;
}

.icon {
    width: 100%;
}

