{% extends 'myproj2/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    {% for el in post %}
        <div class="containers">
            <div><img src="{{ el.image }}" class="icon"></div>
            <div class="flax">
                <div><h4><a href="{% url 'home' %}">{{ el.title}}</a></h4></div>
                <div><p>{{ el.description|linebreaks }}</p></div>
                <div><p class="flex">{{ el.price }} BYN в час</p></div>
            </div>
        </div>
    {% endfor %}<br>

    <div>
        <h2>Бензопила напрокат: простое решение сложных задач</h2>
        <p>Бензопила — один из незаменимых и универсальных инструментов, способных оптимизировать трудовые и временные затраты. В зависимости от мощности, объема двигателя и используемой гарнитуры она успешно справляется с заготовкой дров, строительными работами (резкой пластика и пенобетона) и валкой деревьев.</p>
        <p>Дефицит такого оборудования может возникнуть как у коммунальных и строительно-ремонтных организаций, так и у физических лиц. Как правило, проблема отсутствия специальной дорогостоящей техники встает в период «строительного бума», когда не хватает имеющихся в распоряжении технических ресурсов, или во время сезонных или разовых работ.</p>
        <p><strong>Аренда и прокат бензопилы — это рациональное и экономичное решение.</strong> Сделав выбор в его пользу, вы избавитесь:</p>
        <ul>
        <li>От необходимости обременять себя инструментом, который будет простаивать в течение долгого времени;</li>
        <li>От подбора оптимальной модели, которая будет справляться со всеми поставленными задачами;</li>
        <li>От расходования средств, которые могут пойти на реализацию ваших проектов.</li>
        </ul>
        <h2>Аренда бензопилы: удобно и экономно</h2>
        <p>Мы предлагаем свои услуги всем, кому может потребоваться бензопила напрокат в Минске. Сотрудничество с нами всегда выгодно и удобно, ведь мы знаем, как важно иметь надежный инструмент и экономить без потерь для качества работы.</p>
        <p><strong> Арендуя оборудование у нас, вы получаете готовую к эксплуатации бензопилу:</strong></p>
        <ul>
        <li>С исправными механизмами и узлами;</li>
        <li>С наточенной и правильно натянутой цепью;</li>
        <li>С правильно отрегулированным карбюратором.</li>
        </ul>
        <p>При передаче техники в пользование, наши консультанты проведут инструктаж по её безопасному и эффективному использованию.</p>			</div>
{% endblock %}