{% extends 'myproj2/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    {% for el in post %}
        <div class="containers">
            <div><img src="{{ el.image }}" class="icon"></div>
            <div class="flax">
                <div><h4>{{ el.title}}</h4></div>
                <div><p>{{ el.description|linebreaks }}</p></div>
                <div><p class="flex">{{ el.price }} BYN в час</p></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}