{% extends 'myproj2/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
        <h1>{{ title }}</h1>
        <div>
            <p align="left">Преимущества нашего проката инструмента в Минском районе:<br>
Экономия денежных средств.<br>
Прокат строительного инструмента в Минске в разы дешевле, чем покупка нового. Тем более, что цены на технику регулярно растут. Для выполнения работы очень часто необходимо использование сразу нескольких видов инструментов, что существенно увеличивает стоимость работы. Кроме того, мы предлагаем выгодную систему скидок.<br>

Экономия драгоценного времени.<br>
Нет нужды тратить время на поиски подходящего инструмента в походах по магазинам. Стоит просто зайти на сайт компании и выбрать именно то, что вам действительно нужно. Определиться с выбором помогут менеджеры компании, которые также посоветует наиболее выгодный и практичный вариант инструмента.<br>

Мы уже долгое время предоставляем услуги проката инструмента в Минске во Фрунзенском районе (прокат и аренда перфоратора, бензобура, строительного пылесоса и другого инструмента). На сайте компании представлен ассортимент современного, надежного и удобного оборудования ведущих торговых марок. Детальную информацию о услуге проката и характеристиках инструмента предоставят менеджеры компании по контактным телефонам. Выгодные условия, надежность, практичность и огромный ассортимент – вот основные принципы нашей компании. Мы всегда стремимся предоставить качественный прокат инструмента в Минске для наших клиентов.</p>
            {% for el in post %}
                <div class="containers">
                    <img src="{{ el.image }}" class="icon">
                    <h3>{{ el.title}}</h3>
                    <p>{{ el.description }}</p><br><br><br><br><br>
                    <p class="flex">{{ el.price }} BYN в час</p>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу про нас</button></a>
{% endblock %}
