{% extends 'myproj2/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <img src="{% static 'myproj2/img/1000_e2e4_Elektroinstrument_11-02-2020_v3_.jpg' %}" class="foto" align="center">
            <h2 align="center">Каталог</h2>
                <div class="icon">
                    <div><div class="menu"><a href="{% url 'chainsaw' %}"><img src="{% static 'myproj2/img/1.png' %}" alt="Бензопила"></a></div>
                    <div class="menu"><a href="{% url 'gas_drills' %}"><img src="{% static 'myproj2/img/2.png' %}" alt="Перфоратор"></a></div>
                    <div class="menu"><a href="{% url 'gas_cutters' %}"><img src="{% static 'myproj2/img/3.png' %}" alt="Шуруповерт"></a></div>
                    <div class="menu"><a href="{% url 'concrete_mixers' %}"><img src="{% static 'myproj2/img/4.png' %}" alt="Бетономешалки"></a></div></div>
                    <div class="container"><div class="menu"><a href="{% url 'grinders' %}"><img src="{% static 'myproj2/img/5.png' %}" alt="Болгарки"></a></div>
                    <div class="menu"><a href="{% url 'generators' %}"><img src="{% static 'myproj2/img/6.png' %}" alt="Генераторы"></a></div>
                    <div class="menu"><a href="{% url 'stairs' %}"><img src="{% static 'myproj2/img/7.png' %}" alt="Лестницы"></a></div>
                    <div class="menu"><a href="{% url 'mixers' %}"><img src="{% static 'myproj2/img/8.png' %}" alt="Циркулярная пила"></a></div></div>
                </div>
        </div>

        <div>
            <div>
                <h1 align="center">Прокат строительного инструмента в Минске</h1>
                <p>Современные многоэтапные технологии, применяемые в сфере строительства и ремонта, требуют использования большого количества профессионального инструмента, различающегося своим предназначением и техническими характеристиками. Однако приобретение качественной техники — одна из наиболее затратных статей бюджета, и во многих случаях инвестиции в оборудование нецелесообразны.</p>
                <p>Мы предлагаем вам альтернативный вариант и утверждаем: <strong>то, что нерентабельно покупать — экономически выгодно взять в прокат.</strong></p>
                <p>Аренда инструмента в Минске — наша работа. Мы оптимизируем ваши временные и материальные затраты, создавая для своих клиентов оптимальные условия для сотрудничества и предлагая широкий ассортимент высокопроизводительной техники.</p>
                <p>К вашим услугам функциональное, надежное и удобное в эксплуатации оборудование от лидеров мирового рынка, позволяющее решать любые поставленные задачи. Наши ресурсы обеспечивают потребности как частных лиц, предлагающих услуги по ремонту квартир, так и крупных строительных организаций с серьезными проектами.</p>
                <h3 align="center">Прокат инструмента: преимущества и выгода</h3>
                <p>Аренда строительного оборудования в Минске — выгодная сделка с любой точки зрения. Появление новых технологий и стандартов требует постоянной адаптации к меняющимся требованиям и делает устоявшийся десятилетиями хозяйственный механизм неэффективным.</p>
                <p>В экономических реалиях современной жизни содержать парк морально устаревающей техники, регулярно обновляя его в попытках угнаться за технической мыслью — это убыточный метод ведения бизнеса.</p>
                <h3 align="center">Что мы предлагаем своим клиентам</h3>
                <p>Вне зависимости от рода деятельности, главная цель любого предпринимателя или компании — это успешное развитие, и один из лучших способов обойти конкурентов — привлекательные цены. Прокат электроинструмента и строительного оборудования поможет оптимизировать ваши расходы и удерживать расценки на услуги на доступном уровне.</p>
                <p><strong>Мы предлагаем вам большой выбор профессиональной техники.</strong> Весь инструмент отвечает современным требованиям и адаптирован для использования в наших климатических условиях. Комплексный подход позволяет вам подобрать оборудование для разных работ в одном месте, что снижает ваши временные затраты.</p>
                <p><strong>Мы обеспечиваем качественное обслуживание и техподдержку.</strong> Вы всегда получите консультативную помощь как в процессе выбора, так и в период эксплуатации.</p>
                <p><strong>Мы ценим ваши средства и время.</strong> Гибкие условия и разумное ценообразование делает нас надежным партнером для всех, кто ищет качественные решения для ведения своего бизнеса.</p>
            </div>
        </div>
    </div>
<!--            {% for el in post %}-->
<!--                <div class="containers">-->
<!--                    <img src="{{ el.image }}" class="icon">-->
<!--                    <h3>{{ el.title}}</h3>-->
<!--                    <p>{{ el.description }}</p><br><br><br><br><br>-->
<!--                    <p class="flex">{{ el.price }} BYN в час</p>-->
<!--                </div>-->
<!--            {% endfor %}-->

        <div align="center"><a href="{% url 'about' %}"><button class="btn btn-warning" align="center">На страницу про нас</button></a></div>

{% endblock %}
